 .our-story-page {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  color: #333;
}

.our-story-page h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.story-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;

  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.story-box {
  flex: 1 1 300px;
  max-width: 500px;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.story-box p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

@media(max-width:768px) {
  .story-container{
    flex-direction: column;
    align-items: center;
  }

  .story-box{
    max-width: 100%;
    width: 100%;
  }
}
